@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@source "../index.html";
@source "../src/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-stone-950: #0c0a09;

  --animate-blob: blob 7s infinite;
  --animate-fade-in-down: fadeInDown 0.5s ease-out;
  --animate-ken-burns: kenBurns 20s infinite alternate;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes kenBurns {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.1) translate(-1%, -1%);
    }
  }
}

html {
  scroll-behavior: smooth;
}